@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Poppins:wght@400;700&family=Ubuntu:wght@500&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: pink;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 3px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row {
  margin: 8px 0;
}

.row input {
  width: 291px;
  font-size: 19px;
  margin: 0;
  padding: 10px 0px;
  border-radius: 5px;
  border: 2px solid black;
}
